body, html {
  height: 100%;
  width: 100%;
}
body {
  font-size: 18px;
  font-family: 'EB Garamond', serif;
  padding: 0;
  margin: 0;
  background: url('../images/light_noise_diagonal.png');
}
h1,h2,h3,h4,h5,h6,p {
 line-height: 1.45;
}
h1 { font-size: 3em; }
h2 { font-size: 2em; }
@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}
.headroom {position: fixed;top: 0;left: 0;right: 0;transition: all .2s ease-in-out;}
.headroom--unpinned {top: -100px;}
.headroom--pinned {top: 0;}
.center {
  text-align: center;
}
